h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1040px;
  margin: 0 auto;
  background: #FCDC94;
}

header {
  background: #EF9C66;
  padding: 30px;
  height: 250px;
  color: white;
}

.site-info {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 10px;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.main {
  display: flex;
  padding: 20px;
  background: #C8CFA0;
}

.sidebar {
  width: 30%;
  padding: 15px;
  background: #78ABA8;
  color: white;
}

.sidebar img {
  width: 100%;
  margin: 5px 0;
}

.sidebar .icon {
  width: 35px;
  margin-right: 10px;
}

.main-content {
  width: 70%;
  padding: 15px 25px;
  background: #FCDC94;
}

.main-content article {
  margin-bottom: 30px;
}

.main-content img {
  max-width: 300px;
  float: right;
  margin-left: 15px;
  border-radius: 5px;
}

footer {
  text-align: center;
  background: #EF9C66;
  padding: 15px;
  color: white;
}
